<h1><%= @spot.name%></h1>
<h4>Good choice 😏 </h4>

<%= link_to "Delete", spot_path(@spot), class: "btn btn-outline-warning px-2 py-1", method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to "Back", spots_path, class: "btn btn-success"%>
