// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Pacifico&family=Rubik&display=swap');

.page{
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  width: 800px;
}

.header{
  text-align: center;
  font-size: 24px;
}

.header h1{
  font-family: 'Pacifico', cursive;
  color: #028090;
}

.btn-create{
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.btn-delete{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.btn-back{
  margin-top: 20px;
}

.btn-back:hover{
  cursor: pointer;
}

.btn-new-spot-create{
  display: flex;
  justify-content: flex-end;
}

.btn-view-all-spots{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

#date{
  font-weight: lighter;
  color: #FB6376;
  font-family: 'Pacifico', cursive;
}

.new-spot-form{
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
}

.new-spot-form-input{
  margin: 0 auto;
  margin-top: 50px;
}

//search form
.search-form-control {
  position: relative;
  margin-top: 35px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #000080;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
